<% @current_nav = 3 %>

<% content_for :pageid do %>page_technology<% end %>

<% content_for :seo do %>
<title><%= I18n.t("technology.page_title") %></title>
<meta name="description" content="<%= I18n.t("technology.page_description") %>">
<link rel="canonical" href="<%= I18n.t("technology.page_canonical") %>" />
<% end %>

<% content_for :addthis do %>
addthis:url="<%= I18n.t("technology.page_canonical") %>" addthis:description="<%= I18n.t("technology.page_description") %>" addthis:title="<%= I18n.t("technology.page_title") %>"
<% end %>

<% content_for :pagecss do %>
<% end %>

<% content_for :pagecontent do %>
<section id="shield" class="wf">
	<article id="intro">
		<h1><%= I18n.t("safety_shield.intro.header") %></h1>
		<%= link_to I18n.t("safety_shield.intro.back.label"), I18n.t("safety_shield.intro.back.link"), :class=> "ss1", :query=>"chapter=safety-shield" %>
	</article>
	<article id="collision">
		<h2><%= I18n.t("safety_shield.collision.header") %></h2>
		<p><%= I18n.t("safety_shield.collision.tagline") %></p>
	</article>
	<article class="last">
		<%= image_tag "technology/safety-shield/restraints-body-structure.jpg", :width=>300 %>
		<h3><%= I18n.t("safety_shield.collision.body_structure.header") %></h3>
		<p><%= I18n.t("safety_shield.collision.body_structure.copy") %></p>
	</article>
	<nav class="safety-shield">
		<ul>
			<li><%= link_to I18n.t("safety_shield.back.label"), I18n.t("technology.safetyshield.collision_unavoidable.link") %></li>
			<li><%= link_to I18n.t("safety_shield.safety-shield.label"), I18n.t("safety_shield.safety-shield.link"), :query=>"chapter=safety-shield" %></li>
		</ul>
	</nav>
</section>
<% end %>

<% content_for :pagedisclaimers do %>
<li>[1] <%= I18n.t("disclaimers.technology.air_bags") %><p><%= I18n.t("disclaimers.technology.seat_belt") %></p></li>
<% end %>

<% content_for :pagescript do %>
<script>
	// init page
	NNA.pageInit(function() {
		new NNA.PageController();
	}); 
</script>
<% end %>