<!-- primary nav -->
<nav class="main wf">
	<ul>
		<li class="nav_home">
			<% if data.page.parent_item.present? %>
				<%= link_to I18n.t("nav.home.label"), I18n.t("nav.#{data.page.parent_item}.link"), :class=> "ir" %>
			<% else %>
				<%= link_to I18n.t("nav.home.label"), I18n.t("nav.home.link"), :class=> "ir" %>
			<% end %>
		</li>
		<% if @current_nav < 4 %>
			<li class="nav_design<% if @current_nav == 1 %> current<% end %>">
				<%= link_to I18n.t("nav.design.label"), I18n.t("nav.design.link") %>
			</li>
			<li class="nav_performance<% if @current_nav == 2 %> current<% end %>">
				<%= link_to I18n.t("nav.performance.label"), I18n.t("nav.performance.link") %>
			</li>
			<li class="nav_technology<% if @current_nav == 3 %> current<% end %>">
				<%= link_to I18n.t("nav.technology.label"), I18n.t("nav.technology.link") %>
			</li>
		<% end %>
		<% if @current_nav == 4 %>
			<li class="nav_features current">
				<%= link_to I18n.t("nav.features.label"), I18n.t("nav.features.link") %>
			</li>
		<% end %>
		<% if @current_nav == 5  %>
			<li class="nav_updates current">
				<%= link_to I18n.t("nav.updates.label"), I18n.t("nav.updates.link") %>
			</li>
		<% end %>
		<% if @current_nav > 5 && @current_nav < 9  %>
			<li class="nav_gallery<% if @current_nav == 6 %> current<% end %>">
				<%= link_to I18n.t("nav.gallery.ext_label"), I18n.t("nav.gallery.link") %>
			</li>
			<li class="nav_gallery_int<% if @current_nav == 7 %> current<% end %>">
				<%= link_to I18n.t("nav.gallery.int_label"), I18n.t("nav.gallery.int_link") %>
			</li>
			<li class="nav_gallery_360<% if @current_nav == 8 %> current<% end %>">
				<%= link_to I18n.t("nav.gallery.360_label"), I18n.t("nav.gallery.360_link") %>
			</li>
		<% end %>
		<% if @current_nav == 9  %>
			<li class="nav_colors">
				<%= link_to I18n.t("nav.colors.label"), I18n.t("nav.colors.link") %>
			</li>
		<% end %>
		<% if @current_nav == 10  %>
			<li class="nav_models">
				<%= link_to I18n.t("nav.models.label"), I18n.t("nav.models.link") %>
			</li>
		<% end %>
		<% if @current_nav == 11  %>
			<li class="nav_specs">
				<% if data.page.parent_item.present? %><%= link_to I18n.t("nav.#{data.page.parent_item}.label"), I18n.t("nav.#{data.page.parent_item}.link") %><% end %>
				<span class="breadcrumb-curr-model"><%= @cfg.model.title %> <%= @trim.title %></span><span class="breadcrumb-curr"><%= I18n.t("nav.specs.label") %></span>

			</li>
		<% end %>
		<% if @current_nav == 12  %>
			<li class="nav_request">
				<%= link_to I18n.t("nav.quote.label"), I18n.t("nav.quote.link") %>
			</li>
		<% end %>
		<% if @current_nav == 13%>
			<li class="nav_request">
				<%= link_to I18n.t("nav.quote.label"), I18n.t("nav.quote.link") %>
			</li>
		<% end %>				
	</ul>
</nav>